<style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }


  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

</style>

<main class="main">
  <div class="content">


    <Upload></Upload>
    <h2>Содержимое NgRx Store:</h2>
    <pre>{{ data$ | async | json }}</pre>

    <h2>Круговая диаграмма</h2>
    <app-pie-chart></app-pie-chart>


  </div>
</main>



<router-outlet />
